.container{
    padding: 20px 50px 0;
}
.menuContainer{
    max-height: 490px;
    overflow: auto;
}
.menuBox{
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.menuBox div{
    cursor: pointer;
}

.menuBox li{
    /* background-color: purple; */
    width: 220px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    margin-right: 8px;
}

.menuBox li img{
    width: 140px;
    margin-bottom: 5px;
    
}
.menuBox  li div:hover img{
    transform: scale(1.1) ;
    transition: all 0.3s;
}


/* 선택한 상품 담는곳 + 결제하기 버튼 */
.bottomContainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.bottomContainer .selectItem{
    width: 70%;
    /* background-color: pink; */
    border: 1px solid #ccc;
    height: 186px;
    border-radius: 15px;
    overflow: auto;
}
.bottomContainer .selectItem table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.bottomContainer .selectItem table thead{
    position: sticky;
    top: 0;

}

.bottomContainer .selectItem table th{
    padding:  10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #fff;
    background-color: #5e2d1a;
}
.bottomContainer .selectItem th:first-child{
    width: 45%;
    border-radius: 15px 0 0 0;
}

.bottomContainer .selectItem th:nth-child(2){
    width: 15%;
}
.bottomContainer .selectItem th:last-child{
    width: 15%;
    /* border-radius: 0 15px 0 0; */
}
.bottomContainer .selectItem table tbody{
    overflow: auto;
    max-height: 200px;
}
/* 수직 스크롤바 스타일 */
.bottomContainer .selectItem table tbody::-webkit-scrollbar {
    width: 10px;
}

.bottomContainer .selectItem table tbody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.bottomContainer .selectItem table td{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.bottomContainer .selectItem td:first-child {
    text-align: left;
    padding-left: 20px;
    display: flex;

}
.bottomContainer .selectItem table .cartDelBtn{
    width: 20px;
    height: 20px;
    background-color: #FC5230;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    cursor: pointer;
    /* display: inline-block; */
    margin-right: 10px;
    display: flex;
    justify-content: center;
}
.bottomContainer .selectItem table td button{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #5e2d1a;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer;
}
.bottomContainer .selectItem table td button:hover{
    background-color: #FED900;
    color: #5e2d1a;
}

/* 결제하기 버튼 */
.bottomContainer .orderBtn{
    width: 25%;
    /* text-align: center; */

}
.bottomContainer .orderBtn p{
    font-size: 23px;
    font-weight: bold;
    line-height: 50px;
    /* padding-left: 10px; */
    /* text-align: center; */
}
.bottomContainer .orderBtn p:first-child{
    font-size: 15px;
    line-height: 20px;
}
.bottomContainer .orderBtn button{
    background-color: #FED900;
    height: 100px;
    width: 100%;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    margin-top: 15px;
}

.bottomContainer .orderBtn button:hover{
    background-color: #31160B;
    color: #fff;
}

/* 모달창 */

/* isModal을 사용할때 쓰면 됨 */
/* .modal-on{
    display: block !important;
} */
.modal{
    display: none;
	background-color: rgba(0,0,0,0.4);
	/* width:100%; */
    width: 805px;
	height: 100%;
	position: fixed;
	left: 50%;
	top:0;
    transform: translateX(-50%);
	padding-top: 100px;
	z-index: 99;
}
.modal .modal-content{
    /* border: 1px solid #000; */
	border-radius: 20px;
	width:700px;
    height: 730px;
	margin: 0 auto;
	padding: 30px;
	background-color: #fff;
}
.modal .modal-content .modal-relative{
    height: 600px;
    position: relative;
}
.modal .modal-content .m-header{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.modal .modal-content .m-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    overflow: auto;
    max-height: 300px;
}
.modal .modal-content .m-body table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    /* font-size: 18px; */
    border: none;
}
.modal .modal-content .m-body table tbody{
    overflow: auto;
}
.modal .modal-content .m-body table td{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.modal .modal-content .m-body table td:first-child{
    width: 40%;
}
.modal .modal-content .m-body table td:nth-child(2){
    width: 20%;
}
.modal .modal-content .m-body table td:nth-child(2) button{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer;
    border: none;
    background-color: #5e2d1a;
}
.modal .modal-content .m-body table td:nth-child(2) button:hover{
    background-color: #FED900;
    color: #5e2d1a;
}
.modal .modal-content .m-body table td:last-child{
    width: 20%;
}
.modal .modal-content .m-body table td:last-child button{
    border: none;
    background-color: #5e2d1a;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.modal .modal-content .m-body table td:last-child button:hover{
    background-color: #FED900;
    color: #5e2d1a;
    font-weight: bold;
}

.m-footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}
.modal .modal-content .m-footer p{
    line-height: 90px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
    width: 235px;
}
.modal .modal-content .m-footer .btnBox{
    display: flex;
    justify-content: end;
}
.modal .modal-content .m-footer .btnBox button{
    background-color: #FED900;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 90px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 23px;
}
.modal .modal-content .m-footer .btnBox button:hover{
    color: #fff;
    background-color: #31160B;
}


/* 모달창2 */
#modal2{
  padding-top: 365px;
}
#modal2 .modal-content {
    width: 480px;
    height: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#modal2 .modal-content {
    flex-direction: column;
}
#modal2 .modal-content h1{
    margin-bottom: 30px;
}
#modal2 .modal-content button{
    background-color: #FED900;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 23px;
}