/* 설정메뉴 */
/* .hostImg{
    margin-top: 30px;
    margin-left:325px;
    padding: 0px auto;
    width: 600px;
    height: 400px;

} */


.SettingHomeImg img{
    margin-top: 10px;
}

.SettingHomeImg{
    float: left;
    background-color: #31160B;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.backImg img{
    background-color: #31160B;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    padding: 10px;
}


a {
    color: black;
}

#settingMenuBtn{
    background-image: url(../images/attention1.png);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 50% 10%;
    

}

#settingMenuBtn div{
    margin: 0 auto;
    width: 420px;
    padding-top: 320px;
    

}

#settingMenuBtn button {
    background-color: white;
    border:5px solid #FED900;
    width: 420px;
    height: 160px;
    border-radius: 45px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    
}
#settingMenuBtn button:hover {
    background-color: #FED900;
}

#settingMenuBtn button:hover a {
    color: black;
}
